body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.navbar {
  background-color: #333;
  color: #fff;
  padding: 1rem 0;
}

.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

.logo a {
  color: #fff;
  font-size: 1.5rem;
  text-decoration: none;
}

.nav-links {
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
}

.nav-links a:hover,
.nav-links a:focus {
  color: #333;
  background-color: white;
}

.button:hover,
.button:focus {
  color: #333;
  background-color: white;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #f3eeee;
  padding: 5px 10px;
  border-radius: 20px;
}

.search-input {
  background-color: #f4f1f1;
  border: none;
  outline: none;
  color: rgb(9, 8, 8);
  padding: 5px 10px;
  border-radius: 20px;
  width: 200px;
  font-size: 1rem;
}

.search-input::placeholder {
  color: #aaa;
}

.search-icon {
  color: rgb(15, 14, 14);
  margin-left: 5px;
  font-size: 1.2rem;
}

.toggle-button {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 18px;
  cursor: pointer;
}

.toggle-button span {
  display: block;
  width: 25px;
  height: 3px;
  background-color: #fff;
  transition: all 0.3s ease;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }

  .nav-links {
    display: none;
    flex-direction: column;
    text-align: center;
    width: 100%;
    margin-top: 10px;
  }

  .nav-links li {
    margin: 10px 0;
  }

  .toggle-button {
    display: flex;
  }

  .toggle-button.active span:first-child {
    transform: rotate(45deg) translate(5px, 5px);
  }

  .toggle-button.active span:nth-child(2) {
    opacity: 0;
  }

  .toggle-button.active span:last-child {
    transform: rotate(-45deg) translate(4px, -4px);
  }

  .nav-links.active {
    display: flex;
  }
}
